/*主入口导入模块*/
/*样式重置*/
html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
div,
dl,
dt,
dd,
ul,
ol,
li,
p,
blockquote,
pre,
hr,
figure,
table,
caption,
th,
td,
form,
fieldset,
legend,
input,
button,
textarea,
menu {
  margin: 0;
  padding: 0;
}
header,
footer,
section,
article,
aside,
nav,
hgroup,
address,
figure,
figcaption,
menu,
details {
  display: block;
}
audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}
body {
  font-family: "Helvetica Neue", Helvetica, STHeiTi, sans-serif;
  line-height: 1.5;
  font-size: 16px;
  color: #000;
  -webkit-user-select: none;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
  outline: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
td,
th {
  padding: 0;
}
caption,
th {
  text-align: left;
}
fieldset,
img {
  border: 0;
}
li {
  list-style: none;
}
input,
button,
textarea,
select,
optgroup,
option {
  margin: 0;
  font: inherit;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  outline: 0;
}
button {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
button {
  -webkit-appearance: none;
  border: 0;
  background: none;
}
a {
  -webkit-touch-callout: none;
  text-decoration: none;
}
:focus {
  outline: 0;
  -webkit-tap-highlight-color: transparent;
}
em,
i {
  font-style: normal;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}
/**
  书写全局公用样式
*/
.cw-clearfix,
.cw-row {
  *zoom: 1;
}
.cw-clearfix:after,
.cw-row:after {
  content: "";
  display: table;
}
.cw-clearfix:after,
.cw-row:after {
  clear: both;
}
.cw-clear {
  clear: both;
}
.cw-ib {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
.cw-dn {
  display: none;
}
.cw-db {
  display: block;
}
.cw-pre {
  overflow: hidden;
  text-align: left;
  white-space: pre-wrap;
  word-wrap: break-word;
  word-break: break-all;
}
.cw-wwb {
  white-space: normal;
  word-wrap: break-word;
  word-break: break-all;
}
.cw-ta-center {
  text-align: center;
}
.cw-ta-left {
  text-align: left;
}
.cw-fl,
.cw-fr {
  _display: inline;
}
.cw-fl {
  float: left;
}
.cw-fr {
  float: right;
}
body,
html {
  position: relative;
  width: 100%;
}
html {
  height: 100%;
}
body {
  min-height: 100%;
}
.cw-body {
  position: absolute;
  width: 100%;
  min-height: 100%;
}
.cw-layout-main {
  display: -webkit-box;
  position: absolute;
  width: 100%;
  min-height: 100%;
  padding-top: 62px;
}
.cw-container {
  -webkit-box-flex: 1;
  background-color: #f1f3f6;
  padding: 25px 40px 40px 40px;
}
.cw-layout-header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #fff;
  display: block;
  height: 62px;
  margin: 0;
  padding: 0;
  border-bottom: 1px solid #e4e5e7;
}
.cw-color-line {
  background: #f7f9fa;
  height: 6px;
  background-image: -webkit-linear-gradient(left, #34495e, #34495e 25%, #9b59b6 25%, #9b59b6 35%, #3498db 35%, #3498db 45%, #62cb31 45%, #62cb31 55%, #ffb606 55%, #ffb606 65%, #e67e22 65%, #e67e22 75%, #e74c3c 85%, #e74c3c 85%, #c0392b 85%, #c0392b 100%);
  background-image: -moz-linear-gradient(left, #34495e, #34495e 25%, #9b59b6 25%, #9b59b6 35%, #3498db 35%, #3498db 45%, #62cb31 45%, #62cb31 55%, #ffb606 55%, #ffb606 65%, #e67e22 65%, #e67e22 75%, #e74c3c 85%, #e74c3c 85%, #c0392b 85%, #c0392b 100%);
  background-image: -ms-linear-gradient(left, #34495e, #34495e 25%, #9b59b6 25%, #9b59b6 35%, #3498db 35%, #3498db 45%, #62cb31 45%, #62cb31 55%, #ffb606 55%, #ffb606 65%, #e67e22 65%, #e67e22 75%, #e74c3c 85%, #e74c3c 85%, #c0392b 85%, #c0392b 100%);
  background-image: linear-gradient(to right, #34495e, #34495e 25%, #9b59b6 25%, #9b59b6 35%, #3498db 35%, #3498db 45%, #62cb31 45%, #62cb31 55%, #ffb606 55%, #ffb606 65%, #e67e22 65%, #e67e22 75%, #e74c3c 85%, #e74c3c 85%, #c0392b 85%, #c0392b 100%);
  background-size: 100% 6px;
  background-position: 50% 100%;
  background-repeat: no-repeat;
}
.cw-header-container {
  display: -webkit-box;
  height: 56px;
}
.cw-logo {
  width: 180px;
  background: url('../images/logo_erp.png') no-repeat;
  background-color: #0388c9;
  background-position: center;
}
.cw-menu-switch {
  padding: 18px 26px 17px 26px;
  font-size: 14px;
  border-right: 1px solid #e4e5e7;
  cursor: pointer;
}
.cw-menu-switch:hover {
  background-color: #f1f4f6;
}
.cw-menu-switch span {
  position: relative;
  display: block;
  width: 12px;
  height: 2px;
  margin-top: 4px;
  background-color: #0388c9;
}
.cw-menu-switch span:before,
.cw-menu-switch span:after {
  content: ' ';
  position: absolute;
  display: block;
  width: 12px;
  height: 2px;
  background-color: #0388c9;
}
.cw-menu-switch span:before {
  margin-top: 5px;
}
.cw-menu-switch span:after {
  margin-top: 10px;
}
/*--左侧菜单模块--*/
.cw-menu {
  width: 180px;
  background-color: #039be6;
}
.cw-menu-parent > li {
  border-bottom: 1px solid #0395db;
}
.cw-menu-parent > li > h3 {
  position: relative;
  font-size: 12px;
  padding: 15px 20px;
  color: #fff;
  cursor: pointer;
}
.cw-menu-parent > li.active h3 {
  background-color: #21a6e7;
}
.cw-menu-parent > li > h3:hover {
  background-color: #21a6e7;
}
.cw-menu-parent > li > h3.on {
  psotion: relative;
}
.cw-menu-parent > li > h3.on:before {
  position: absolute;
  right: 20px;
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
  content: "\e6de";
  -moz-transition: all 0.5s;
  /* Firefox 4 */
  -webkit-transition: all 0.5s;
  /* Safari 和 Chrome */
  -o-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg);
  font-size: 12px;
}
.cw-menu-parent > li.active > h3.on:before {
  -webkit-transform: rotate(-180deg);
  -moz-transform: rotate(-180deg);
  -ms-transform: rotate(-180deg);
  -o-transform: rotate(-180deg);
  transform: rotate(-180deg);
}
.cw-menu-child {
  -moz-transition: max-height 0.5s;
  /* Firefox 4 */
  -webkit-transition: max-height 0.5s;
  /* Safari 和 Chrome */
  -o-transition: max-height 0.5s;
  transition: max-height 0.5s;
  max-height: 0;
  overflow: hidden;
}
.cw-menu-parent > li.active .cw-menu-child {
  max-height: 400px;
}
.cw-menu-child > li {
  border-bottom: 1px solid #0395db;
}
.cw-menu-child > li a {
  position: relative;
  display: block;
  color: #fff;
  padding: 10px 10px 10px 30px;
  font-size: 12px;
}
.cw-menu-child > li:last-child {
  border-bottom: 0 none;
}
.cw-menu-child > li a:hover {
  background-color: #21a6e7;
}
