/**
  书写全局公用样式
*/
.cw-clearfix,
.cw-row {
  *zoom: 1;
}
.cw-clearfix:after,
.cw-row:after {
  content: "";
  display: table;
}
.cw-clearfix:after,
.cw-row:after {
  clear: both;
}
.cw-clear {
  clear: both;
}
.cw-ib {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
.cw-dn {
  display: none;
}
.cw-db {
  display: block;
}
.cw-pre {
  overflow: hidden;
  text-align: left;
  white-space: pre-wrap;
  word-wrap: break-word;
  word-break: break-all;
}
.cw-wwb {
  white-space: normal;
  word-wrap: break-word;
  word-break: break-all;
}
.cw-ta-center {
  text-align: center;
}
.cw-ta-left {
  text-align: left;
}
.cw-fl,
.cw-fr {
  _display: inline;
}
.cw-fl {
  float: left;
}
.cw-fr {
  float: right;
}
