.line-item{
    border-left:3px solid #2196f3;
    height:34px;
    position: relative;
    margin-bottom:15px;
}
.user-name-line{
    padding-left:10px;
    font-weight:bold;
    font-size:14px;
    float:left;
    line-height: 34px
}

.add-btn{
    margin-top:7px;
    float:left;
}

.panel-right{
    float:right;
    width:300px;
}

.page-box{
    text-align: center;
}
.page-box .ui-pagination{
    display: inline-block;
}

.ui-table{
    min-height:500px;
    overflow-y:auto;
}

.operation-panel{
    position: absolute;
    display: none;
    width:100%;
    height:34px;
    line-height:34px;
    background-color:#fff;
    padding-left:10px;
}

.operation-panel>div{
    display: inline-block;
    margin-right:15px;
    cursor: pointer;
}

.operation-panel.on{
    display: block;
}

div#rMenu {
    position: absolute;
    display: none;
    top: 0;
    background-color: #555;
    text-align: left;
    padding: 20px;
    z-index:999;
    background-color:#fff;
    font-size:14px;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.14);
}

#rMenu ul li{
    padding: 10px 0;
    text-align: center;
    cursor: pointer;
    color:#2196f3;
}

.tabs-box{
    display: -webkit-box;
    display: -moz-box;
    border-bottom: 1px solid #d9d9d9;
    width: 100%;
    background-color: #fff;
    height: 45px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box; 
    margin-bottom:15px;
}

.tabs-box > div{
        padding: 8px 20px;
    -webkit-transition: color 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: color 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    height: 45px;
    min-width: 70px;
    text-align: center;
    color: #4c4c4c;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-bottom: 2px solid transparent;
    cursor: pointer;
    font-size: 14px;
}

.tabs-box > div.tabOn {
    color: #2196f3;
    border-bottom: 2px solid #2196f3;
}

#menuContent{
        width: 250px;
    display: none;
    height: 250px;
    overflow-y: auto;
    overflow-x:hidden;
}

#userSel{
    width: 80%;
    height: 34px;
    padding: 6px 12px;
    border: 1px solid #ddd;
    border-radius: 2px;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.12);
}

#menuBtn{
    margin-left:15px;
}

#del-panel{
    display: none;
}

.role-choose{
    display: none;
    background-color:#fff;
    height:100px;
    overflow-y:auto;
    overflow-x:hidden;
    width:80%;
    padding:15px;
    border: 1px solid #ddd;
    }

.role-choose ul li{
    height:30px;
    line-height:30px;
    padding-left:15px;
}

.role-choose ul li.on{
    background-color:#d9d9d9;
}

#closeOperation{
    position:absolute;
    right:0;
    top:0;
}

#userRol{
    width: 80%;
    height: 34px;
    padding: 6px 12px;
    border: 1px solid #ddd;
    border-radius: 2px;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.12);
}
#chooseRole{
    margin-left:15px;
}

.del-button{
    color:#f44336;
    cursor: pointer;
}

#reset-password-cls{
    display: none;
}

#reset-password-cls.on{
    display: block;
}

.page-box{
    margin-top:10px;
}