/*--指示版样式--*/
.@{css-prefix}dash-stat {
	position: relative;
    height: 110px;
    margin-bottom: 15px;
    margin-top: 15px;
    background: rgba(0,0,0,0.1);
    text-align: center;
    overflow: hidden;
    cursor: default;
    text-shadow: 0 0 3px rgba(0,0,0,0.2);
    .border-radius(3px);
}
.@{css-prefix}dash-stat .@{css-prefix}dash-stat-cont{
	position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 20px;
    z-index: 2;
}

.@{css-prefix}dash-stat .@{css-prefix}dash-stat-main {
    display: block;
    font-size: 30px;
    font-weight: bold;
    transition: all 0.1s ease;
}

.@{css-prefix}dash-color-a{
	background-color: #2980b9 !important;
    color: #fff !important;
}

.@{css-prefix}dash-color-b{
	background-color: #16a085 !important;
    color: #fff !important;
}

.@{css-prefix}dash-color-c{
	background-color: #c0392b !important;
    color: #fff !important;
}

.@{css-prefix}dash-color-d{
	background-color: #27ae60 !important;
    color: #fff !important;
}