/*--左侧菜单模块--*/
.@{css-prefix}menu{
  width:180px;
  background-color:@menu-background;
}

.@{css-prefix}menu-parent>li{
  border-bottom: 1px solid #0395db;
}

.@{css-prefix}menu-parent>li>h3{
  position:relative;
  font-size:12px;
  padding: 15px 20px;
  color:#fff;
  cursor: pointer;

  &:hover{
    background-color:@menu-hover-background;
  }

  &.on{
    psotion:relative;

  }
  &.on:before{
    position: absolute;
    right:20px;
    .font;
    content: "\e6de";
    .transform-rotate(-90deg);
    font-size: 12px;
  }
}

.@{css-prefix}menu-child{
  height:0;
  overflow:hidden;
}

.@{css-prefix}menu-child>li{
  border-bottom: 1px solid #0395db;

  a{
    position: relative;
    display: block;
    color:#fff;
    padding: 10px 10px 10px 30px;
    font-size:12px;
  }
  &:last-child{
    border-bottom:0 none;
  }
}