<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no, minimal-ui" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="format-detection" content="email=no" />
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="HandheldFriendly" content="True">
    <%for (var css in htmlWebpackPlugin.options.addLinkCss) {%>
    <link rel="stylesheet" href="<%= htmlWebpackPlugin.options.addLinkCss[css] %>">
    <%}%>
     <%for (var js in htmlWebpackPlugin.options.addmommonScript) {%>
    <script src="<%= htmlWebpackPlugin.options.addmommonScript[js] %>"></script>
    <%}%>
    <link rel="stylesheet" href="/styles/main.css" />
    <link rel="stylesheet" href="/styles/tree.css" />
</head>

<body>
    <div id="example"></div>
</body>
</html>
