body {
    font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","\5FAE\8F6F\96C5\9ED1",SimSun,sans-serif;
    line-height: 1.5;
    color: #666;
    font-size: 14px;
    background: #ECECEC;
    -webkit-transition: background 1s cubic-bezier(.075, .82, .165, 1);
    transition: background 1s cubic-bezier(.075, .82, .165, 1);
    overflow-x: hidden;
}

/*--头部块--*/
.header-wrapper{
    min-height: 50px;
    display:-webkit-box;
}